.about{
    padding: 30vh 0;
}

.about-description{
    width: 80%;

    font-size: 1vw;
    margin: 0 auto;
}

.copyright{
    position: absolute;
    transform: translate(-50%,-50%);
    bottom: 10%;
    left: 50%;
}
@media (max-width:767px){
    .about-description{
       
        width: 80%;
        font-size: 2.5vw;
    }
    .copyright{
       font-size: 2.2vw;
       bottom: 30%;
    }
}