.home {
  height: 100vh;
  padding: 9vh 0;
}

.home-title {
  font-weight: bold;
  font-size: 1.6vw;
  color: blueviolet;
}

.home-description{
  font-size: 1vw;
    width: 90%;
    height:20%;
    margin: 0  auto 2vh auto;
   
    

}
img {
  width: 20%;
  height: 55vh;
    border-radius: 1rem;
  }
