main {
  height: 100%;
}

.product-description {
  width: 90%;
  height:130px;
  padding-top: 10vh;
  
  margin: 2vh auto;
  font-size: 1.2vw;
  color: rgb(219, 63, 247);
}

.product-card {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}
.product {
 
  display: flex;
  padding-bottom: 8vh;
  flex-direction: column;
  align-items: center;
  row-gap: 2vh;
}

.card {
  width: 25%;
  padding-bottom: 2vh;
}
.spinner {
  color: #f13ee5 !important;
  margin: 25vh auto;
}
.button {
  background-color: #ed58e3;
  border: none;
}
.button:hover {
  background-color: rgb(171, 94, 243);
 
}
.card-title{
  font-size: 1vw;
}
.card-text{
  font-size: 1.3vw;
}
