main {
  height: 100%;
}

.product-description {
  width: 95%;
  height: 130px;
  padding-top: 10vh;
  margin: auto auto 15vh auto;
  font-size: 1.2vw;
  color: rgb(202, 113, 243);
}

.product-card {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  border-bottom-left-radius: 3.5rem;
  border-bottom-right-radius: 3.5rem;
}
.product {
  display: flex;
  padding-bottom: 8vh;
  flex-direction: column;
  align-items: center;
  row-gap: 2vh;
}

.card {
  width: 25%;
  padding-bottom: 2vh;
}
.spinner {
  color: #f13ee5 !important;
  margin: 25vh auto;
}
.button {
  background-color: #ed58e3;
  border: none;
}
.button:hover {
  background-color: rgb(171, 94, 243);
}
.card-title {
  font-size: 1vw !important;
}
.card-text {
  font-size: 1.3vw;
}
@media (max-width: 767px) {
  .product-description {
    height: fit-content;
    padding-top: 10vh;
    margin-bottom: 3vh;
    font-size: 3vw;
  }
  .card-title {
    font-size: 3.5vw !important;
  }
  
}
.product-colors-container{
  position: absolute;
  left: 25%;
  top: 35%;
display: flex;
flex-direction: column;
align-items: center;
row-gap: 2rem;

}
.product-colors{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
 
}